.mainMobile {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.headerMobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c21;
  height: 88px;
}

.checkoutMobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1c1c21;
  height: 88px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 514px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
  }
}
/* TODO: improve bug */
@media screen and (max-width: 514px) {
  .mainMobile {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
