.main {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.mainMobile {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media screen and (max-width: 514px) {
  .mainMobile {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
