.currency {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ingredientName {
  text-align: center;
}

.ingredient {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
