.tab {
    display: flex;
}

.chooseIngredients {
    min-width: 600px;
    max-height: 912px;
}

.ingredientsList {
    max-height: 680px;
    overflow-y: auto;

    /* Scroll for Firefox */
    scrollbar-width: thin;
    scrollbar-color: #8585AD #2F2F37;
}

/* Scroll for Chrome, Safari, Edge */
.ingredientsList::-webkit-scrollbar {
    width: 8px;
}

.ingredientsList::-webkit-scrollbar-track {
    background: #2F2F37;
}

.ingredientsList::-webkit-scrollbar-thumb {
    background: #8585AD;
    border-radius: 4px;
}

.ingredientsList::-webkit-scrollbar-thumb:hover {
    background: #6f6f9d;
}

.groupedIngredients {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px 24px;
}

.currency {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ingredientName {
    text-align: center;
}

.ingredient {
    display: flex;
    flex-direction: column;
    position: relative;
}