.chooseIngredients {
  max-height: 912px;
  width: 600px;
  position: relative;
}

@media screen and (max-width: 614px) {
  .description {
    text-align: center;
  }
}

@media screen and (max-width: 1191px) {
  .chooseIngredients {
    width: auto;
    max-width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .chooseIngredients {
    max-height: 580px;
  }
}

@media screen and (max-width: 514px) {
  .chooseIngredients {
    max-height: 600px;
  }
}
