.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c21;
  height: 88px;
}

@media screen and (max-width: 514px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
  }
}
