.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1C1C21;
}

.menu {
    display: flex;
    flex-direction: row;
}
